body {
	background-color: $background_color;
	position: relative;
}

a {
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}

.container {
	max-width: 1280px;

	@media (min-width: $screen-sm-min) {
		width: 85%;
	}

	@media (min-width: $screen-md-min) {
		width: 70%;
	}
}

.container-fluid {
	max-width: 1280px;
	width: 85%;
}
