.section {
	padding-top: 30px;

	&.about {
		padding-top: 100px;

		@media (min-width: $screen-sm-min) {
			padding-top: 110px;
		}
		
		.col-md-12 {
			background-color: $section_about_background_color;
			padding: 30px 20px;
			text-align: center;

			@media (min-width: $screen-sm-min) {
				padding: 40px;
			}

			@media (min-width: $screen-md-min) {
				padding: 80px 40px;
			}
		}

		.image {
			border: 4px solid $section_about_background_color;
			margin: -100px auto 0 auto;
			width: 150px;

			@media (min-width: $screen-sm-min) {
				margin-top: -110px;
			}

			@media (min-width: $screen-md-min) {
				margin-top: -150px;
			}
		}

		.title {
			color: $section_about_title_color;
			font-size: 28px;
			line-height: 40px;
			margin: 20px 0 0 0;

			@media (min-width: $screen-md-min) {
				font-size: 35px;
				margin-top: 40px;
			}
		}

		.description {
			color: $section_about_text_color;
			font: {
				size: 18px;
				weight: normal;
			}
			margin: 15px 0 0 0;
		}

		.full-description {
			color: $section_about_text_color;
			font-size: 15px;
			line-height: 27px;
			margin: 20px 0 0 0;

			@media (min-width: $screen-md-min) {
				margin: 20px 90px 0 90px;
			}

			p {
				margin: 0;
			}

			a {
				color: $section_about_link_color;

				&:hover,
				&:active,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}
}
