.site-footer {
	padding-top: 30px;
		
	.col-md-12 {
		background-color: $social_menu_background_color;
		padding: 20px;
		text-align: center;

		@media (min-width: $screen_sm_min) {
			padding: 30px;
		}
	}

	.navbar-nav {
		display: inline-block;
		float: none;

		li {
			display: inline-block;
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}

			a {
				color: $social_menu_link_color;
				overflow: hidden;
				padding: 10px;

				&:before {
					display: block;
					font: {
						family: 'FontAwesome';
						size: 40px;
						variant: normal;
						weight: normal;
					}
					line-height: 1;
					@include transition(transform 300ms ease-in-out);
				}

				&:hover,
				&:active,
				&:focus {
					background-color: transparent;

					&:before {
						@include transform(scale(1.3));
						@include transition_timing_function(cubic-bezier(0.47, 2.02, 0.31, -0.36));
					}
				}

				&[href*="facebook.com"]:before {
					content: "\f230";
				}

				&[href*="twitter.com"]:before {
					content: "\f099";
				}

				&[href*="plus.google.com"]:before {
					content: "\f0d5";
				}

				&[href*="instagram.com"]:before {
					content: "\f16d";
				}

				&[href*="linkedin.com"]:before {
					content: "\f0e1";
				}

				&[href*="github.com"]:before {
					content: "\f09b";
				}

				span {
					display: none;
				}
			}
		}
	}
}
