.site-header {
	.navbar-main {
		&.affix {
			top: 0;
			width: 100%;

			body.admin-bar & {
				top: 32px;

				@media (max-width: 782px) { top: 46px; }
			}
		}
	}
}

.site-content {
	body.navbar-main-affixed & { padding-top: 54px; }
}
