.site-header {
	position: relative;
	z-index: 2;
	
	.navbar-contact-details {
		background-color: $contact_details_background_color;
		border: none;
		margin-bottom: 0;
		max-height: 50px;
		text-align: center;
		@include border-radius(0);

		.navbar-nav {
			display: inline-block;
			float: none;
			
			li {
				@include nav_link($contact_details_text_color, 500);

				a {
					.fa {
						margin-right: 5px;
						@include transition(transform 300ms ease-in-out);
					}

					&:hover,
					&:active,
					&:focus {
						.fa-phone {
							@include transform(scale(1.3) rotate(12deg));
						}

						.fa-envelope {
							@include transform(scale(1.3) rotate(-12deg));
						}
					}
				}
			}
		}
	}

	.navbar-main {
		background-color: $main_menu_background_color;
		border: none;
		margin-bottom: 0;
		@include border-radius(0);

		.navbar-header {
			.navbar-toggle {
				border: {
					color: $main_menu_text_color;
					radius: 0;
					width: 2px;
				}

				.icon-bar {
					background-color: $main_menu_text_color;
					@include border-radius(0);
				}
			}

			.navbar-nav {
				float: left;
				margin: {
					left: 0;
					right: 0;
				}

				li {
					display: inline-block;
					@include nav_link($main_menu_text_color, 500);
				}
			}
		}

		.navbar-collapse {
			border-top: none;
			@include box-shadow(none);

			@media (min-width: $screen-sm-min) {
				max-height: 50px;
				text-align: center;
			}

			.navbar-nav {
				@media (min-width: $screen-sm-min) {
					display: inline-block;
					float: none;
				}

				li {
					@include nav_link($main_menu_text_color, normal, uppercase);
				}
			}
		}
	}
}
