body {
	background-color: $background_color;
}

.site-header {
	.navbar-contact-details {
		background-color: $contact_details_background_color;

		.navbar-nav {
			li {
				@media (min-width: $screen-sm-min) {
					a {
						color: $contact_details_text_color;

						&:before {
							background: $contact_details_text_color;
						}
					}
				}
			}
		}
	}

	.navbar-main {
		background-color: $main_menu_background_color;

		.navbar-header {
			.navbar-toggle {
				border-color: $main_menu_text_color;

				.icon-bar {
					background-color: $main_menu_text_color;
				}
			}
		}

		.navbar-header,
		.navbar-collapse {
			.navbar-nav {
				li {
					@media (min-width: $screen-sm-min) {
						a {
							color: $main_menu_text_color;
							
							&:before {
								background: $main_menu_text_color;
							}
						}
					}
				}
			}
		}
	}
}

.section {
	&.about {
		.box {
			background-color: $section_about_background_color;
		}

		.image {
			border-color: $section_about_background_color;
		}

		.title {
			color: $section_about_title_color;
		}

		.description {
			color: l$section_about_text_color;
		}

		.full-description {
			color: $section_about_text_color;

			a {
				color: $section_about_link_color;
			}
		}
	}
}

.site-footer {
	background-color: $social_menu_background_color;

	.navbar-nav {
		li {
			a {
				color: $social_menu_link_color;
			}
		}
	}
}
