/// Nav link

@mixin nav_link($color_text, $font_weight: normal, $text_transform: none) {
	@include hover_border_bottom($color_text);

	a {
		color: $color_text;
		font: {
			size: 15px;
			weight: $font_weight;
		}
		text-transform: $text_transform;

		&:hover,
		&:active,
		&:focus { background-color: transparent; }
	}

	&.active {
		a { background-color: transparent; }
	}
}

/// Hover effect: border bottom

@mixin hover_border_bottom($color) {
	@media (min-width: $screen-sm-min) {
		a {
			overflow: hidden;
			position: relative;
			backface-visibility: hidden;
			transform: translateZ(0);

			&:before {
				background: $color;
				bottom: 0;
				content: "";
				left: 0;
				height: 3px;
				position: absolute;
				right: 0;
				transform: translateY(3px);
				transition: transform 300ms ease-in-out;
				z-index: -1;
			}

			&:hover,
			&:active,
			&:focus {
				&:before { transform: translateY(0); }
			}
		}

		&.active {
			a {
				&:before { transform: translateY(0); }
			}
		}
	}
}
