/// Devices widths for responsive mixins
$devices: (
	mobile-landscape: 480px,
	tablet: 768px,
	tablet-landscape: 1024px,
	laptop: 1280px,
	desktop: 1440px
) !default;

/// Grid paddings
$grid-padding: 20px;

/// Colors
$color__background-body: white;
$color__background-screen: #f1f1f1;

$color__text-screen: black;
