/// Bootstrap

$font-family-base: 'Roboto', sans-serif;

/// nandotess resume

/// Colors

$background_color: #e3e3e3;

/// Colors - Skip links

$skip_links_background_color: #f1f1f1;
$skip_links_text_color: black;

/// Colors - Contact details

$contact_details_background_color: #1e88e5;
$contact_details_text_color: black;

/// Colors - Main menu

$main_menu_background_color: #2196f3;
$main_menu_text_color: white;

/// Colors - Homepage section - About

$section_about_background_color: white;
$section_about_title_color: #5f5f5f;
$section_about_text_color: #727272;
$section_about_link_color: #2196f3;

/// Colors - Social menu

$social_menu_background_color: white;
$social_menu_link_color: #2196f3;
